/* COLOR */
/* BAKGROUND-COLOR */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

.visually-hidden {
  display: none;
}

.line {
  border: none;
  height: 2px;
  background-color: #ddd;
  margin: 0;
}

.contanier {
  width: 100%;
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}

/*--------------------------------------- HEADER STYLE START ---------------------------------------*/
.site-header {
  padding: 30px 0;
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__wrapper-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__nav {
  margin-right: 40px;
}

.site-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.site-header__nav-link {
  color: #333;
  font-size: 15px;
  line-height: 150%;
  text-decoration: none;
  background-color: transparent;
}

.site-header__search-input {
  border: none;
  outline: none;
  border-bottom: 1px solid #333;
  padding-bottom: 6px;
}

.site-header__search-input::-webkit-input-placeholder {
  color: #666;
  font-size: 15px;
  line-height: 150%;
}

.site-header__search-input:-ms-input-placeholder {
  color: #666;
  font-size: 15px;
  line-height: 150%;
}

.site-header__search-input::-ms-input-placeholder {
  color: #666;
  font-size: 15px;
  line-height: 150%;
}

.site-header__search-input::placeholder {
  color: #666;
  font-size: 15px;
  line-height: 150%;
}

/*--------------------------------------- HEADER STYLE END ---------------------------------------*/
/*--------------------------------------- HERO STYLE START ---------------------------------------*/
.hero {
  padding: 170px 0 183px;
  background-image: url(../../assets/images/watches.png);
  background-repeat: no-repeat;
  background-size: 587px;
  background-position: calc(50% + 556px) 85px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url(../../assets/images/watches@2x.png);
  }
}

.hero__wrapper {
  width: 100%;
  max-width: 490px;
}

.hero__title {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero__desc {
  position: relative;
  color: #777;
  font-size: 16px;
  line-height: 150%;
  padding-left: 40px;
  margin-bottom: 30px;
}

.hero__desc::before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  display: inline-block;
  content: "";
  background-color: #888;
}

.hero__btn {
  color: #fff;
  width: 260px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  border: none;
  padding: 12px;
  background-color: #ea625c;
}

/*--------------------------------------- HERO STYLE END ---------------------------------------*/
/*--------------------------------------- INFO STYLE START ---------------------------------------*/
.info {
  padding: 70px 0;
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.info__item {
  width: 100%;
  max-width: 280px;
}

.info__item::after {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ddd;
  -webkit-box-shadow: 18px 0 0 0 #ddd, 36px 0 0 0 #ddd;
          box-shadow: 18px 0 0 0 #ddd, 36px 0 0 0 #ddd;
}

.info__item-title {
  color: #222;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

.info__item-desc {
  color: #333;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 160%;
}

.info__item:last-child::after {
  display: none;
}

.info__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ea625c;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
}

.info__item-link::before {
  display: block;
  content: "";
  width: 40px;
  height: 3px;
  background-color: #ea625c;
  margin-right: 10px;
}

/*--------------------------------------- INFO STYLE END ---------------------------------------*/
/*--------------------------------------- WATCH STYLE START ---------------------------------------*/
.watch {
  padding: 70px 0;
}

.watch__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watch__wrapper-start {
  width: 100%;
  max-width: 490px;
}

.watch__title {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 30px;
}

.watch__desc {
  position: relative;
  color: #777;
  font-size: 16px;
  line-height: 150%;
  padding-left: 40px;
  margin-bottom: 30px;
}

.watch__desc::before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  display: inline-block;
  content: "";
  background-color: #888;
}

.watch__btn {
  color: #fff;
  width: 260px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  border: none;
  padding: 12px;
  background-color: #ea625c;
}

/*--------------------------------------- WATCH STYLE END ---------------------------------------*/
/*--------------------------------------- HEALTH STYLE START ---------------------------------------*/
.health {
  padding: 240px 0;
  background-image: url(../../assets/images/runners-1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .health .health {
    background-image: url(../../assets/images/runners-1@2x.jpg);
  }
}

.health__wrapper {
  width: 100%;
  max-width: 490px;
  margin-left: auto;
}

.health__title {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 30px;
  color: #fff;
}

.health__desc {
  position: relative;
  color: #777;
  font-size: 16px;
  line-height: 150%;
  padding-left: 40px;
  margin-bottom: 30px;
  color: #fff;
}

.health__desc::before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  display: inline-block;
  content: "";
  background-color: #888;
}

.health__desc::before {
  background-color: #fff;
}

.health__btn {
  color: #fff;
  width: 260px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  border: none;
  padding: 12px;
  background-color: #ea625c;
}

/*--------------------------------------- HEALTH STYLE END ---------------------------------------*/
/*# sourceMappingURL=main.css.map */