@mixin list-unstyled{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

@mixin link-unstyled{
  text-decoration: none;
  background-color: transparent;
}

@mixin btn-styles{
  color: $color-neutral;
  width: 260px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  border: none;
  padding: 12px;
  background-color: $bakground-secondary;
}