@mixin list-unstyled{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

@mixin link-unstyled{
  text-decoration: none;
  background-color: transparent;
}

@mixin title-styles{
  color: $color-tertiary;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 30px;
}

@mixin desc-styles{
  position: relative;
  color: $color-accent;
  font-size: 16px;
  line-height: 150%;
  padding-left: 40px;
  margin-bottom: 30px;
  
  &::before{
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    display: inline-block;
    content: "";
    background-color: #888;
  }
}

@mixin btn-styles{
  color: $color-neutral;
  width: 260px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  border: none;
  padding: 12px;
  background-color: $bakground-secondary;
}