/* COLOR */
$color-primary: #333;
$color-secondary: #222;
$color-tertiary: #000;
$color-accent: #777;
$color-neutral: #fff;

/* BAKGROUND-COLOR */
$bakground-primary: #fff;
$bakground-secondary: #ea625c;


*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

@import "mixins";
@import "blocks/blocks";