/*--------------------------------------- WATCH STYLE START ---------------------------------------*/
.watch{
  padding: 70px 0;

  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper-start{
    @include wrapper;
  }

  &__title{
    @include title-styles;
  }

  &__desc{
    @include desc-styles;
  }

  &__btn{
    @include btn-styles;
  }
}
/*--------------------------------------- WATCH STYLE END ---------------------------------------*/